<!DOCTYPE html>
<html>
<head>
	<title>여행은 요기조기-내용</title>
	<th:block th:replace="board/common :: commonHead"></th:block>
</head>
<body>
<div th:replace="/common/navbar"></div>
	<!-- 본문 -->
	<div class="board_wrap" style="position: relative; z-index: 1;">
		<div class="board_title">
			<strong>자유게시판</strong>
			<p>자유롭게 이용가능한 게시판입니다.</p>
		</div>
		<div class="board_view_wrap">
			<!-- 타이틀 아래 영역(리스트, 페이지, 버튼) -->
			<div class="board_view">
				<!-- 공지글 전체 영역 -->
				<div class="title" th:text="${board.title}"></div>
				<div class="info">
					<!-- 글 정보 -->
					<dl>
						<dt>번호</dt>
						<dd th:text="${board.no}"></dd>
					</dl>
					<dl>
						<dt>작성자</dt>
						<dd th:text="${board.writer}"></dd>
					</dl>
					<dl>
						<dt>작성일</dt>
						<dd th:text="${#dates.format(board.regdate, 'yyyy-MM-dd HH:mm')}"></dd>
					</dl>
					<dl>
						<dt>조회</dt>
						<dd th:text="${board.readcount}"></dd>
					</dl>
					<dl>
						<dd>
								<input type="hidden" name="no" th:value="${board.no}">
								<input type="image" th:src="@{/pic/board/trash.png}" width="15" alt="삭제" th:onclick="|location.href='@{/board/delete(no=${board.no})}'|">
						</dd>
					</dl>
				</div>
				<div class="cont">
					<!-- 글 내용 -->
					<pre th:text="${board.content}"></pre>
				</div>
				<!-- TODO
				<table>
					<tr>
						<th colspan="2" align="left">댓글 목록</th>
						<td><br></td>
					</tr>

					<c:forEach var="vo" items="${replylist}">
						<tr>
							<td>&nbsp;<span style="font-size: 18px; font-weight: 600;">${vo.getCid()}</span>
								<span style="color: gray; size: 0.5rem;">${vo.getCtime()}</span>&nbsp;&nbsp;
								<c:if test="${loginID eq vo.getCid() }">
									<a
										href="Free_Board.do?free=deletereply&no=${no}&pageNo=${pageNo}&cno=${vo.getCno()}">
										<img src="trash_pic/쓰레기통.png" width="15" alt="쓰레기통" align="right" style="padding-top: 5px;"></a></c:if> <br>&nbsp;&nbsp;&nbsp;${vo.getCcontent()}
									
							</td>
						</tr>
					</c:forEach>

					<c:choose>
					
						<c:when test="${message!=null}">
							<tr>
								<td></td>
							</tr>
						</c:when>
						<c:otherwise>

						</c:otherwise>
					</c:choose>
				</table>



				<form
					action="Free_Board.do?free=reply&no=${no}&pageNo=${pageNo }"
					method="post">
					<c:if test="${loginID==null }">
						<div class="comment">
							<p class="comment_cmt">[${freevo.writer }님의 글에 댓글달기]</p>
							<textarea placeholder="로그인 후 댓글을 작성할 수 있습니다." rows="5" cols="135"
								name="c_content" readonly></textarea>
						</div>
					</c:if>
					<c:if test="${loginID!=null }">
						<input type="hidden" name="id" value="${loginID }">
						<input type="hidden" name="fno" value="${freevo.getNo() }">
						<%-- 						<input type="hidden" name="pno" value="${param.no }"> --%>
						<div class="comment">
							<p class="comment_cmt">[${freevo.writer }님의 글에 댓글달기]</p>
							<textarea placeholder="댓글을 입력해주세요." rows="5" cols="135"
								name="c_content"></textarea>
							<input type="submit" value="댓글달기">
							<p></p>
							<p style="margin-bottom: 10px"></p>
						</div>
					</c:if>
				</form>
			-->
			</div>

			<!-- 버튼 영역 -->
			<div class="bt_wrap">
				<input type="button" class="on" value="목록" th:onclick="|location.href='@{/board/boardlist}'|">
				<input type="button" value="수정" th:onclick="|location.href='@{/board/edit(no=${board.no})}'|">
			</div>
		</div>
	</div>
<div th:replace="/common/footer"></div>
</body>
</html>