<!DOCTYPE html>
<html>
<head>
    <title>여행은 요기조기-자유게시판</title>
    <th:block th:replace="board/common :: commonHead"></th:block>
</head>
<script>

</script>
<body>
<div th:replace="/common/navbar"></div>
<!-- 본문 -->
<div class="board_wrap" style="position: relative; z-index: 1;">			<!-- 전체를 감싸고 있는 div 생성 -->
    <div class="board_title">		<!-- 보드의 타이틀(ex. 문의게시판) -->
        <strong>자유게시판</strong>
        <p>자유롭게 이용가능한 게시판입니다.</p>
    </div>
    <div class="board_write_wrap">	<!-- 타이틀 아래 영역(리스트, 페이지, 버튼) -->
        <div class="board_write1">	<!-- 리스트 영역 -->
            <div th:if="${board.count==0}" align="right">
                <div class="title" align="center">&nbsp;&nbsp;&nbsp;&nbsp;게시된 글이 없습니다.</div>
            </div>
            <div  th:if="${board.count>0}">
                <div class="top">		<!-- 리스트제목 영역 -->
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">작성자</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
                <div th:each="bo : ${board.boardList}" class="row">
                    <div class="num">
                        <span th:text="${bo.tempNo}"></span>
                    </div>
                    <div class="title">
                        <a th:href="@{/board/detail(no=${bo.no})}">
                            <span th:text="${bo.title}"></span>
                        </a>
                    </div>
                    <div class="writer" th:text="${bo.writer}"></div>
                    <div class="date" th:text="${#dates.format(bo.regdate, 'yyyy-MM-dd')}"></div>
                    <div class="count" th:text="${bo.readcount}"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="board_page">	<!-- 페이지 영역 -->
            <a th:href="@{/boardlist?page=${page}}"></a>
<!--            TODO 페이지처리-->
        </div>
        <div class="bt_wrap">		<!-- 버튼 영역 -->
            <a th:href="@{/board/new}">
                <input type="button" class="on" value="등록">
            </a>
        </div>
    </div>
</div>
<div th:replace="/common/footer"></div>
</body>