<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>찜리스트</title>
	<link rel="stylesheet" th:href="@{/css/mem/mypage.css}">

</head>
<script>
	function submitDelete(destId) {
		const form = document.getElementById("destForm");
		document.getElementById("destId").value = destId;
		form.submit();
	}
</script>
<body>
<div th:replace="/common/navbar"></div>
		<div class="mp-in">
			<h2>♥ <span th:text="${session.loginID}"></span>님 환영합니다. ♥</h2>
		</div>

		<div class="mypage">
			<div class="mp_left">
				<div class="left-header">마이페이지</div>
				<ul class="mypageul">
					<li>
						<a class="active mp-a" th:href="@{/member/mypage}"> 찜리스트 <span class="mp_span">&gt;</span></a>
					</li>
					<li>
						<a class="mp-a" th:href="@{/member/modify}"> 정보수정 <span class="mp_span">&gt;</span></a>
					</li>
					<li>
						<a class="mp-a" th:href="@{/member/delete}"> 회원탈퇴<span class="mp_span">&gt;</span></a>
					</li>
				</ul>

				<a class="left-a" th:href="@{/inquiry}">
					<div class="left-bottom">
						<span>도움이 필요하신가요 ?</span> <span class="left-s">문의하기</span>
					</div>
				</a>

			</div>

			<div class="mp_right">
				<div class="right-header" id="title_content">
					<h2>찜리스트</h2>
				</div>
				<div class="r-border"></div>
				<!-- 찜리스트 -->
				<div class="mp-box">

					<!-- 리스트 반복문 -->
					<div th:each="vo : ${likeList}" class="box-li">
						<div class="box-li">
							<div class="li-top">
								<img class="li-img" th:src="${vo.destImg}">
								<div class="li-content">
									<!-- 여행지 국가/이름 -->
									<a th:href="@{/searchdest/detail(destId=${vo.destId})}"
									   th:onclick="|submitDest(${vo.destId})|">
										<span class="rgyBadge" th:text="${vo.destCountry}"></span>&nbsp;
										<span class="dest_select" th:text="${vo.destName}"></span>
									</a>

									<!-- 여행지 평점 -->
									<br> <br>
									<div>
										<span class="position">비용</span>
										<progress th:value="${vo.destMoney}*99+1" max="100"></progress>
									</div>
									<div>
										<span class="position">경치</span>
										<progress th:value="${vo.destLandscape}*99+1" max="100"></progress>
									</div>
									<div>
										<span class="position">재미</span>
										<progress th:value="${vo.destFun}*99+1" max="100"></progress>
									</div>
									<br>
									<!-- 여행지 태그 -->
									<div>
										<span th:text="${vo.destTagStr}"></span>
									</div>
								</div>

							</div>

							<!-- 찜삭제 -->
							<div class="box-wish">
								<button class="wish-btn" type="button" height="36" radius="3" th:onclick="|submitDelete(${vo.destId})|">
									찜 삭제
								</button>
							</div>
						</div>
						<hr />
					</div>
					<!-- 리스트 반복문 끝-->
					<div th:if="${#lists.isEmpty(likeList)}">
						<br>
						<br>
						<br> <span class="msg">찜한 목록이 없습니다.</span> <br>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>

<div th:replace="/common/footer"></div>
<form id="destForm" th:action="@{/member/deletelike}" method="get">
	<input type="hidden" name="destId" id="destId">
</form>
</body>
</html>

