<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아이디 확인</title>
  <link rel="stylesheet" th:href="@{/css/mem/ect_style.css}">

</head>
<body>

<div class="idproc-size">
  <div th:if="${#strings.isEmpty(id)}">
    가입 정보를 찾을 수 없습니다.
  </div>
  <div th:if="${!#strings.isEmpty(id)}">
    <p>입력하신 정보로 아래의 아이디를 찾았습니다.</p>
    <span th:if="${id != null and id != ''}">
        <span th:text="${id}"></span>
    </span>
  </div>
<table>
<tr>
	<td>
      <input class="bt4" type="button" value="확인" onclick="javascript:window.close();">
	</td>
    <td>
      <a th:href="@{/searchId}" style="text-decoration: none;"><input class="bt4" type="button" value="다시 찾기"></a>
    </td>
</tr>
</table>

</div>
</body>
</html>